body{
    background-color: rgb(245, 245, 245);
}
.photo{
   text-align: center;
    width:100%;  
}
ul{
   padding:14px 16px;

}
li a{
    padding:14px 16px;
    font-size:17px;
margin-left:30px;
font-family: verdana;
}
.nav-link{
    color: rgb(255, 255, 255);
    
    }
    .nav-link:hover{
        color: rgb(12, 248, 12);
    }
    .nav-item{
        
    }
    .thumbnail {
        position: relative;
    }
    
    .caption {
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
    }
.philo{
    
    
}

    